#user_image img {
    width: 40%;
    height: auto;
    border-radius: 100%;
    margin-top:8%;
    float:right;
}
#user_header {
    width: 100%;
    height: 20em;
}
#user_header h1 {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10% 10% 0 0;
}
#user_header h2 {
    width: 100%;
    height: auto;
    padding-left: 0;
    color: white;
}
#profile_wrapper {
    display: table;
    width: 100%;
    height: auto;
    color: #fff;
    background-color: #444;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#user_pairs{
    margin-left: 10%;
}

#user_pairs h3 {
    color: white;
    width: 100%;
    height: auto;
    padding: 0 10% 0 0;
    line-height: 1.75em;
}
.pairing_header{
    font-size: 2em;
    text-decoration: underline;
}

.darken{
    color: rgb(82, 159, 71);
}

#user_data h2 {

}