body {
    width: 200px;
    height: 275px;
    background-image: url('chrome-extension://oodeamamgpaimpfceocholnhappfdbkk/intro-bg.png');
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFF;
}
#pair_login {
    margin-bottom: 25%
}
.pause-pairing{
    background: none;
    width: 5em;
    height: 5em;
    border: 2px solid white;
    border-radius: 100%;
}
.btn-circle {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 3px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
.btn-circle img {
    width: 16%;
}
.btn-circle:hover, .btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255, 255, 255, .3);
}
.duration-form, .running-session {
    display: none;
}
.countdown {
    color: white;
    font-size: 5em;
    font-weight: bold;
    margin-bottom: .5em;
}
.duration {
    margin-top: 30%;
    height: 2em;
    width: 3em;
    font-size: 4em;
}
.exit-pairing {
    margin-top: 1em;
    margin-right: .5em;
    float: right;
}
.fa {
    color: white;
}
.auth-error, .interval-error{
    color:white;
    font-size:1em;
    font-weight: bold;
}
.session-info{
    margin-top: 3em;
}
