<!-- About Section -->
<div class="overlay">
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About PAIRme^</h2>
                <p>PAIRme^ is a chrome extension made for anyone looking to improve their pairing experience with minimal effort. You will be able to control and monitor your session duration and roles.</p>
                <br><br>
                <p>Check how much of the total pairing session time was actually spent working and how much of it was spent with breaks. Feedback is a big part of pairing, so after the pairing session is over each pair will write feedback to the other alogside with scoring each other in some aspects related to the session.</p>
            </div>
        </div>
    </section>
</div>