<!-- Download Section -->
<section id="download" class="text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Install & Sign-up</h2>
                <p>Download PAIRme^ from the Google Chrome Extension</p>
                <a href="#" class="btn btn-default btn-lg">Download</a>
                <br><br>
                <p>Create your account here!</p>
                <a data-toggle="modal" href="#myModal1" class="btn btn-default btn-lg">SignUp</a>
                <br>
            </div>
        </div>
    </div>
</section>