<input id="feedback_responses_attributes_0_feedback_question_id" name="feedback[responses_attributes][0][feedback_question_id]" type="hidden" value="12" />
            </td>
            <td class='span1' style='text-align: center'>
                <label for="feedback_responses_attributes_0_rating">Never</label>
                <input id="feedback_responses_attributes_0_rating_-2" name="feedback[responses_attributes][0][rating]" type="radio" value="-2" />
            </td>
            <td class='span1' style='text-align: center'>
                <label for="feedback_responses_attributes_0_rating">Rarely</label>
                <input id="feedback_responses_attributes_0_rating_-1" name="feedback[responses_attributes][0][rating]" type="radio" value="-1" />
            </td>
            <td class='span1' style='text-align: center'>
                <label for="feedback_responses_attributes_0_rating">Sometimes</label>
                <input id="feedback_responses_attributes_0_rating_0" name="feedback[responses_attributes][0][rating]" type="radio" value="0" />
            </td>
            <td class='span1' style='text-align: center'>
                <label for="feedback_responses_attributes_0_rating">Mostly</label>
                <input id="feedback_responses_attributes_0_rating_1" name="feedback[responses_attributes][0][rating]" type="radio" value="1" />
            </td>
            <td class='span1' style='text-align: center'>
                <label for="feedback_responses_attributes_0_rating">Always</label>
                <input id="feedback_responses_attributes_0_rating_2" name="feedback[responses_attributes][0][rating]" type="radio" value="2" />
            </td>
            <td class='span1' style='text-align: center'>
                <label for="feedback_responses_attributes_0_rating">n/a</label>
                <input id="feedback_responses_attributes_0_rating_999" name="feedback[responses_attributes][0][rating]" type="radio" value="999" />
            </td>