<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading"></i>PAIRme^</h1>
                    <strong><p class="intro-text">Get Started Pairing Today</p></strong>
                    <a href="#about" id="pair-me-icon" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-up animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>