<h2>Give some feedback!</h2>
<div class='control-group'>
    <div class='controls'>
        <textarea class="span6 autogrow" cols="40" id="feedback_body" name="feedback[body]" placeholder="Type your feedback here.  Good feedback is specific, actionable, and kind." rows="20" style="height: 100px;padding:10px">
        </textarea>
    </div>
</div>

<% questions = ["The culture of our team/pair benefitted from having STUDENT on it.", "I benefitted technically from having STUDENT on our pair/team.", "I would happily work with STUDENT again and would recommend them to others." ]  %>

<div class='questions'>
    <% questions.each do |question| %>
    <table class='table table-striped'>
        <tr>
            <td class='span6' style='vertical-align: middle;'>
                <div class='question-body'>
                <%= question %>
                </div>
                <%= erb :_feedback_template %>
        </tr>
    </table>
    <%end%>
</div>

<div class='actions'>
    <input class="btn btn-primary" name="commit" type="submit" value="Send anonymous feedback" />
</div>
</form>