 <legend>New user</legend>
<form accept-charset="UTF-8" action="#" class="form-horizontal" id="new_user" method="post">
    <div class="control-group">
        <label class="control-label" for="user_affiliation">Affiliation</label>
        <div class="controls">
            <input id="user_affiliation" name="user[affiliation]" size="30" type="text" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">User role</label>
        <div class="controls">
            <label class="radio">
                <input type="radio" name="user[role]" id="user_role_managing_editor" value="Managing editor" checked>Managing editor
            </label>
            <label class="radio">
                <input type="radio" name="user[role]" id="user_role_area_editor" value="Area editor">Area editor</label>
            <label class="radio">
                <input type="radio" name="user[role]" id="user_role_author_or_referee" value="Author or referee">Author/referee
            </label>
        </div>
    </div>
</form>