<div id="profile_wrapper">
	<div class="col-md-4">
		<div id="user_image">
			<img src="/img/ma.jpg">
		</div>
	</div>

	<div class="col-md-8">
		<div id="user_header">
			<h1>Michael Angelo DeCarlo</h1>
			<h2>Cohort: Ospreys</h2>
			<h2> <%= @user.id %> </h2>
		</div>
	</div>

	<div class="col-md-4">
		<div id="user_pairs">

			<!-- modal start -->
			<a data-toggle="modal" href="#myModal1"><h3>PAIR 1: Jensen Bouzi</h3></a>
			<!-- Modal -->
			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title">User_names Review </h4>
						</div>
						<div class="modal-body">
							<h1>HERE: TOMEFKSDFKDASNKFJON EIAHFHDLKF EIFOSFHJNA</h1>
							<h1>IS: TOMEFKSDFKDASNKFJON EIAHFHDLKF EIFOSFHJNA</h1>
							<h1>DATA: TOMEFKSDFKDASNKFJON EIAHFHDLKF EIFOSFHJNA</h1>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
			<!-- modal end -->


			<a href="#"><h3>PAIR 2: Jensen Bouzi</h3></a>
			<a href="#"><h3>PAIR 2: Jensen Bouzi</h3></a>
			<a href="#"><h3>PAIR 2: Jensen Bouzi</h3></a>
			<a href="#"><h3>PAIR 2: Jensen Bouzi</h3></a>
			<a href="#"><h3>PAIR 2: Jensen Bouzi</h3></a>
		</div>
	</div>

	<div class="col-md-8">
		<div id="user_data">
			<div id="donut_single" style="width: 50%; height:auto`;"></div>

		</div>
	</div>
</div>

